@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
body {
    margin: 0;
    padding: 0;
    background-color: #eff1f2;
    font-family: "Almarai", sans-serif;
    font-size: 16px;
}
/*Predefined*/
.bg-gradient-main {
    background: #0f5089;
    background: linear-gradient(216deg, #0f5089 89%, #f46e27 89%);
}
.bg-darkish {
    background-color: #333333;
}
/* Style the navigation bar */
.navbar {
    display: flex;
    background-color: #0f5089;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

/* Navbar links */
.navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/*chat box start*/
.chat-box {
    border: 1px solid #ccc;
    padding: 10px 10px;
    overflow-y: auto;
    height: 400px;
}
.chat-box .received {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    margin-bottom: 3px;
}
.chat-box .sent {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    margin-bottom: 3px;
}
.chat-box textarea {
    border: 1px solid #000;
}
/* Webkit browsers (Chrome, Safari, Edge) */
.chat-box::webkit-scrollbar {
    width: 12px;
}

.chat-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chat-box::-webkit-scrollbar-thumb {
    background: #888;
}

.chat-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox */
.chat-box {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
/*chat box end*/
/* Current/active navbar link */
.navbar-costume-top .active {
    background-color: #04aa6d;
}
/*Offers listing*/
#OffersListing .card {
    border-radius: 1rem;
    border: 1px solid #e9ecef;
    box-shadow: 0 0 10px #e9ecef;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}
#OffersListing .card:not(:last-child) {
    margin-bottom: 2rem;
}
#OffersListing .card.job-listings-item .job-employer-logo img {
    border-radius: 8px;
    max-width: 100%;
    width: 24px;
    max-height: 80px;
}
#OffersListing .card.job-listings-item .job-details-group .job-tags a {
    display: inline-block;
    border: 1px solid #dee2e6;
    padding: 0.25rem 0.55rem;
    border-radius: 0.55rem;
    color: #343a40;
    text-decoration: none;
}
#OffersListing
    .card.job-listings-item
    .job-details-group
    .job-tags
    a:not(:last-child) {
    margin-right: 1rem;
}
#OffersListing
    .card.job-listings-item
    .job-details-group
    .job-details
    .job-details-content {
    list-style-type: none;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    display: flex;
    align-items: center;
}
#OffersListing
    .card.job-listings-item
    .job-details-group
    .job-details
    .job-details-content
    li:not(:last-child) {
    margin-right: 1rem;
}
#OffersListing .card .btn,
.btn-read-more {
    background: #250443;
    background: linear-gradient(90deg, #250443 0%, #430979 35%, #ff00fe 100%);
    color: #fff;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}
#OffersListing .card .btn:hover,
.btn-read-more:hover {
    background: #400773;
    background: linear-gradient(90deg, #400773 0%, #660eb8 35%, #ff00fe 100%);
}
#OffersListing .card:hover {
    box-shadow: 0 0 20px #dae0e5;
}
/*Offer Show Start*/
.breadcrumb {
    padding: 0.25rem 1rem;
    background-color: #e9ecef;
}
.breadcrumb a {
    text-decoration: none;
}
.btn-labeled {
    font-family: "Tajawal", serif;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.15rem 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-info:hover {
    color: #fff;
    background-color: #157887;
    border-color: #157887;
}
.btn-labeled .btn-label {
    position: relative;
    right: -0.5rem;
    display: inline-block;
    padding: 0.15rem 0.5rem;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0 0.2rem 0.2rem 0;
}
/*Offer show end*/

/*Login start*/
.form_container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 40px 20px 40px;
    background-color: #ffffff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Inter", sans-serif;
}

.logo_container {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: linear-gradient(
        180deg,
        rgba(248, 248, 248, 0) 50%,
        #f8f8f888 100%
    );
    border: 1px solid #f7f7f8;
    filter: drop-shadow(0px 0.5px 0.5px #efefef)
        drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #212121;
}

.subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #8b8e98;
}

.input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
}

.input_label {
    font-size: 0.75rem;
    color: #8b8e98;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
        drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: #115dfc;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

.sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 7px;
    outline: none;
    color: #242424;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
        drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
}

.sign-in_apl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #212121;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
        drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
}

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8b8e98;
}

.separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
}

.note {
    font-size: 0.75rem;
    color: #8b8e98;
    text-decoration: underline;
}
/*Login end*/
.dropdown-dark .dropdown-item {
    color: #000;
}
.dropindark li a {
    color: #000;
}
.dropindark li a:hover {
    background-color: #e9e4e4 !important;
    color: white !important;
}
/*rte style start*/
.editor-toolbar {
    background: #ffffff;
    padding: 15px;
}
.editor-toolbar button {
    border-radius: 0;
    color: #546e7a;
}

.editor,
.editor:focus {
    border: 1px solid #ced4da;
    min-height: 200px;
    padding: 10px;
    background-color: #fff;
    outline: 1px solid #ced4da;
}
.loader {
    display: none;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#posts-section img {
    max-height: 260px;
}
/*show articles styling*/
.article-tabs {
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
}
.article-tabs li {
    border: 0;
}
.article-tabs li button {
    border: 0 !important;
    border-left: 1px solid #969696 !important;
    border-radius: 0 !important;
}
.article-tabs li button .active {
    text-decoration: underline;
    border-radius: 0 !important;
}
/*comments styling*/
.comments-section form {
    max-width: 530px;
    margin-right: auto;
    margin-left: auto;
}
.actual-comments {
    max-width: 530px;
    margin-right: auto;
    margin-left: auto;
}
.comment-body {
    background-color: #e7e7e7 !important;
}
/*about us page*/
.tasks-section i {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0f5089;
}
/*Privacy page*/
.privacy .hero {
    background-color: #f8f9fa;
    padding: 50px 0;
}
.privacy .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.privacy .icon-box {
    font-size: 2rem;
    color: #0f5089;
}
.privacy .content {
    padding: 50px 0;
    background: #ffffff;
}
.privacy .content h2 {
    margin-top: 30px;
}
.privacy .content p,
.privacy .content ul {
    margin-bottom: 20px;
}
.privacy .content ul {
    list-style-type: none;
    padding-left: 0;
}
.privacy .content ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #0d6efd;
}
/*team page*/
.team {
    padding: 50px 0;
}

.team-member {
    margin-bottom: 30px;
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-member h4 {
    margin-bottom: 10px;
}

.team-member p {
    margin-bottom: 15px;
}

.team-member .social-icons a {
    color: #0d6efd;
    margin-right: 10px;
    font-size: 1.2rem;
}
/*Offers page*/
.from th, .from td {
    background: #2090f1;
    color: white;
}
tr.to th, tr.to td {
    background: #04aa6d;
    color: white;
}
footer .nav-link,
footer p {
    color: white;
}
footer .nav-link:focus,
footer .nav-link:hover {
    text-decoration: underline;
    color: white !important;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media (max-width: 576px) {
    .input-group {
        flex-direction: column;
    }

    .input-group .form-control,
    .input-group .form-select {
        width: 100%;
    }
}
